.cost {
    height: 100%;
    width: 100%;
    background-color: #7252dc;
    background-image: url(../img/cost/bg1.png);
    padding: 30px 0;
    &__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @media (max-width: $md3+px) {
        & {
            padding: 0;
        }
    }
}

.wrapper-cost {
    &__title {
    }

    &__body {
    }

    &__callback {
    }
}
.title-cost {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        padding: 20px 0;
    }
}
.body-cost {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    &__item {
        margin: 0 15px;
    }
    @media (max-width: $md3+px) {
        & {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 15px 0;
        }
    }
}
.item-cost {
    width: 33%;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    &__img {
        padding: 15px 0;
    }

    &__text {
    }

    &__value {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__value span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #7252dc;
    }

    &__btn {
        background: #7252dc;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
        border-radius: 3px;
        padding: 12px 25px;
        cursor: pointer;
    }
    &__btn p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 36px;
        color: #ffffff;
    }
    @media (max-width: $md2+px) {
        &__value {
            padding: 10px 0;
        }
    }
    @media (max-width: $md3+px) {
        & {
            width: 60%;
        }
        &__value {
            padding: 40px 0;
        }
    }
    @media (max-width: $md4+px) {
        & {
            width: 90%;
        }
    }
}
.first-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #2c2d31;
}
.item-text {
    &__title p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #2c2d31;
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }
    &__subtitle p {
        width: 50%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #2c2d31;
    }
}
.callback-cost {
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }
    &__text p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
    }

    &__btn {
    }
    @media (max-width: $md4+px) {
        &__text p {
            font-size: 24px;
        }
        &__text {
            padding: 10px 0;
        }
    }
    @media (max-width: $md3+px) {
        & {
            width: 84%;
            margin: 0 auto;
        }
    }
}
.btn-cost {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    &__free-take {
        margin-right: 10px;
    }

    &__whatsapp {
        margin-left: 10px;
    }
    @media (max-width: $md3+px) {
        &__whatsapp {
            display: none;
        }
        &__free-take {
            margin-right: 0;
        }
    }
}

.white-bg {
    background: #ffffff;
    p {
        color: #7252dc;
        font-size: 15px;
    }
}
.second-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: rgba(44, 45, 49, 0.5);
}
.second-pp {
    width: 70%;
}
