.depression {
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding: 60px 0;
    &__wrapper {
        height: 100%;
        width: 100%;
    }
    @media (max-width: $md3+px) {
        padding: 20px 0;
    }
}

.wrapper-depression {
    &__title {
    }

    &__sliders {
        position: relative;
        padding: 0 50px;
        margin: 40px 0;
    }
    &__sliders .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        height: 60px;
        width: 30px;
        margin: -30px 0 0 0;
    }
    &__sliders .slick-arrow.slick-next {
        right: 0;
        background: url(../img/customer/rightArrow.png) 0 0 / 100% no-repeat;
    }
    &__sliders .slick-arrow.slick-prev {
        left: 0;
        background: url(../img/customer/leftArrow.png) 0 0 / 100% no-repeat;
    }
    &__sliders .slick-arrow.slick-disabled {
        opacity: 0.2;
    }
    &__sliders .slick-dots li.slick-active button {
        background: #7252dc;
    }
    &__sliders img {
        max-width: 100%;
    }
    @media (max-width: $md3+px) {
        &__sliders {
            margin: 30px 0;
        }
    }
}
.title-depression {
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 110%;
        text-align: center;
        color: #2c2d31;
        margin: 0 auto;
    }
    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 110%;
        text-align: center;
        color: #7252dc;
        display: block;
    }
    @media (max-width: $md3+px) {
        p {
            font-size: 30px;
        }
        span {
            font-size: 30px;
        }
    }
}
.sliders-depression {
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @media (max-width: $md4+px) {
        button {
            transform: scale(0.8);
        }
    }
}
.sliders-depression {
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #2c2d31;
    }
}
.callback-depression {
    display: flex;
    justify-content: center;
    align-items: center;
    &__take-free {
        margin-right: 15px;
    }
    &__write {
        display: none;
    }
    &__whatsapp {
        margin-left: 15px;
    }
    @media (max-width: $md3+px) {
        &__whatsapp {
            display: none;
        }
        &__take-free {
            display: none;
        }
        &__write {
            display: flex;
        }
    }
}
