.emotion {
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding: 80px 0;
    &__wrapper {
        height: 100%;
        width: 100%;
    }
    @media (max-width: $md3+px) {
        & {
            padding: 30px 0;
        }
    }
}

.wrapper-emotion {
    display: flex;
    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img img {
        width: 100%;
    }
    &__img p {
        display: none;
    }

    &__text {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    @media (max-width: $md3+px) {
        & {
            flex-direction: column-reverse;
        }
        &__img {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__img p {
            display: block;
            margin: 30px 0;
        }
        &__text {
            width: 100%;
        }
    }
}
.emotion-btn {
    margin: 0;
}
.text-emotion {
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        width: 100%;
    }
    &__title p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 110%;
        text-align: left;
        color: #2c2d31;
    }
    &__title span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 110%;
        text-align: center;
        color: #7252dc;
    }

    &__subtitle {
        margin-top: 30px;
    }

    &__callback {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    @media (max-width: $md3+px) {
        &__subtitle {
            display: none;
        }
        &__callback {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title p {
            font-size: 30px;
            text-align: center;
        }
        &__title span {
            font-size: 32px;
        }
    }
    @media (max-width: $md4+px) {
        &__title p {
            font-size: 23px;
        }
        &__title span {
            font-size: 25px;
        }
    }
}
.emotion-subtitle {
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: #2c2d31;
        text-align: left;
    }
    @media (max-width: $md3+px) {
        p {
            display: block;
            width: 70%;
        }
    }
    @media (max-width: $md4+px) {
        p {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: $md3+px) {
    .btn-emotion__mobile p {
        color: #ffffff;
    }
}
@media (max-width: $md3+px) {
    .emotion-subtitle p {
        text-align: center;
    }
}
.callback-emotion {
    &__btn {
    }
}

.btn-emotion {
    &__computer {
        display: flex;
    }

    &__mobile {
        display: none;
    }
    @media (max-width: $md3+px) {
        &__computer {
            display: none;
        }
        &__mobile {
            display: flex;
        }
    }
}
