.method {
    height: 100%;
    width: 100%;
    background: #f5f6fa;
    padding: 40px 0;
    &__wrapper {
        height: 100%;
        width: 100%;
    }
    @media (max-width: $md3+px) {
        & {
            padding: 0;
        }
    }
}

.wrapper-method {
    &__text p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: #2c2d31;
        padding-top: 10px;
    }
    &__text span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: #7252dc;
        padding: 20px 0;
    }

    &__body {
    }

    &__callback {
    }
    @media (max-width: $md3+px) {
        &__text p {
            font-size: 30px;
        }
        &__text span {
            font-size: 30px;
        }
    }
}
.text-method {
    &__title {
    }

    &__subtitle p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #2c2d31;
    }
    @media (max-width: $md3+px) {
        &__subtitle p {
            font-size: 16px;
        }
    }
}
.body-method {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 30px 0;
    &__item {
        position: relative;
    }
    &__item:after {
        content: "";
        position: absolute;
        right: -54px;
        top: 30%;
        height: 50px;
        width: 110px;
        background: url(../img/method/arrow.png) center/cover no-repeat;
        z-index: 100;
    }
    &__item:last-child:after {
        content: "";
        display: none;
    }
    @media (max-width: $md3+px) {
        & {
            flex-direction: column;
            padding: 0;
        }
    }
    @media (max-width: $md2+px) {
        &__item:after {
            display: none;
        }
    }
    @media (max-width: $md1+px) {
        &__item:after {
            content: "";
            position: absolute;
            right: -54px;
            top: 30%;
            height: 50px;
            width: 110px;
            background: url(../img/method/arrow.png) center/cover no-repeat;
            z-index: 100;
            transform: scale(0.8);
        }
    }
}
.item-method {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 60px;
    &__img {
    }

    &__content {
    }
    @media (max-width: $md1+px) {
        & {
            padding: 0 47px;
        }
    }
    @media (max-width: $md1+px) {
        & {
            padding: 0 15px;
        }
    }
    @media (max-width: $md3+px) {
        & {
            padding: 20px 0;
        }
    }
}
.img-method {
}
.content-method {
    & p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #2c2d31;
    }
}
.callback-method {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__free-take {
        margin-right: 15px;
    }

    &__whatsapp {
        margin-left: 15px;
    }
    @media (max-width: $md3+px) {
        &__free-take {
            margin-right: 0;
        }
        &__whatsapp {
            display: none;
        }
    }
}
